<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iTunes12.5.3.16</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-88390-20161031-259EC4AD-5719-4DCD-B8E6-99C0F59AE24B/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-88391-20161031-3A39E0EC-1F9B-45DC-88DD-3B5713C40E62/iTunes6464Setup.exe</string>
		<key>Version</key>
		<string>12.5.3.16</string>
	</dict>
	<key>iTunes12.5.3.17</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-88646-20161108-431281EC-A13F-11E6-8128-DDFFA2A9A694/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-88651-20161102-B83A3FA8-9D81-11E6-948D-F6376B42CFCA/iTunes6464Setup.exe</string>
		<key>Version</key>
		<string>12.5.3.17</string>
	</dict>
	<key>iTunes12.5.4.42</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-86054-20161212-CC264356-BE1D-11E6-BD92-B3E982FDB0CC/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-86055-20161212-CC2643BA-BE1D-11E6-BD92-B2E982FDB0CC/iTunes6464Setup.exe</string>
		<key>Version</key>
		<string>12.5.4.42</string>
	</dict>
	<key>iTunes12.5.5.5</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-94942-20170123-014E4040-DF1D-11E6-8CA3-57D3D55B5B9D/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-94939-20170123-014E4004-DF1D-11E6-8CA3-56D3D55B5B9D/iTunes6464Setup.exe</string>
		<key>Version</key>
		<string>12.5.5.5</string>
	</dict>
	<key>iTunes12.6.0.100</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-03320-20170323-CD3E0A68-0FC0-11E7-A09A-2D2600A0ED6C/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-03322-20170323-CD3E0A54-0FC0-11E7-A09A-2C2600A0ED6C/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.6.0.100</string>
	</dict>
	<key>iTunes12.6.0.95</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-85228-20170321-A9683868-0E6A-11E7-B70F-EF1900A0ED6C/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-86712-20170321-56E4FC3E-0E6A-11E7-AFAD-241900A0ED6C/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.6.0.95</string>
	</dict>
	<key>iTunes12.6.1.25</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-02141-20170515-85982C48-3662-11E7-8E72-49792DBC0DB3/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-02135-20170515-85982C34-3662-11E7-8E72-48792DBC0DB3/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.6.1.25</string>
	</dict>
	<key>iTunes12.6.2.20</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-22849-20170719-8AC5248C-6BB9-11E7-A52A-C7374A4DD6D5/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-22850-20170719-8AC53D14-6BB9-11E7-A878-C6374A4DD6D5/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.6.2.20</string>
	</dict>
	<key>iTunes12.6.3.6</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-33627-20170922-EF8CB708-9FEF-11E7-8504-92CF9A97A551/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-33626-20170922-F51D3530-A003-11E7-8324-03D19A97A551/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.6.3.6</string>
	</dict>
	<key>iTunes12.7.0.166</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-97720-20170912-DE538806-97F5-11E7-A892-1394FCD6B433/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/031-97715-20170912-DE51D95C-97F5-11E7-8FE6-1494FCD6B433/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.7.0.166</string>
	</dict>
	<key>iTunes12.7.1.14</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-30743-20171030-2E974C8C-B9B4-11E7-A0B9-71E6DF1CD815/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-30751-20171030-2E96FF02-B9B4-11E7-81C5-9CE3DF1CD815/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.7.1.14</string>
	</dict>
	<key>iTunes12.7.2.58</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-31208-20171206-1A6C2168-DABD-11E7-AB98-609461E0607F/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-31216-20171206-1A6C2208-DABD-11E7-AB98-5F9461E0607F/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.7.2.58</string>
	</dict>
	<key>iTunes12.7.2.60</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-56357-20171213-EDF21CDC-E039-11E7-9C46-D31A1E4B8CED/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-56359-20171213-EDF2198A-E039-11E7-9A9F-D21A1E4B8CED/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.7.2.60</string>
	</dict>
	<key>iTunes12.7.3.46</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-45190-20180123-72201368-FFEA-11E7-9647-F02911B39B62/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-45357-20180123-72201840-FFEA-11E7-92F9-85B67CCC33A9/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.7.3.46</string>
	</dict>
	<key>iTunes12.7.4.76</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-76320-20180329-6D5B23D2-32F7-11E8-993D-9ABAB071F5CF/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-76333-20180329-6D5B026C-32F7-11E8-A675-99BAB071F5CF/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.7.4.76</string>
	</dict>
	<key>iTunes12.7.4.80</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-77042-20180416-1F70CB08-3131-11E8-9791-31052B2AA206/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-77040-20180416-1F70CB08-3131-11E8-9791-31052B2AA206/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.7.4.80</string>
	</dict>
	<key>iTunes12.7.5.9</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-81943-20180529-DAFD73DE-5F77-11E8-AF1E-509A897FD268/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-81934-20180529-DAFCAAD0-5F77-11E8-99A3-4F9A897FD268/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.7.5.9</string>
	</dict>
	<key>iTunes12.8.0.150</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-81691-20180709-C98EBAE5-D5C5-41EC-9847-A5F71D9C4437/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/091-81692-20180709-A4DF288B-8929-401F-AD73-4189359D8A6B/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.8.0.150</string>
	</dict>
	<key>iTunes12.9.0.167</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/041-02279-20180912-24D8EE3A-AC7A-11E8-BE19-C36F1B1141A5/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/041-02280-20180912-24D8CF68-AC7A-11E8-8B51-C26F1B1141A5/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.9.0.167</string>
	</dict>
	<key>iTunes12.9.1.4</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/041-13372-20181024-3F5AEEE2-D7EB-11E8-9F46-F296F34A5CAA/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/041-13378-20181024-3F5B4748-D7EB-11E8-AD60-F196F34A5CAA/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.9.1.4</string>
	</dict>
	<key>iTunes12.9.2.6</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/041-17809-20181205-8DD4F85C-F720-11E8-B49B-E121828CC72D/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/041-17808-20181205-8DD4E9E8-F720-11E8-BB37-E021828CC72D/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.9.2.6</string>
	</dict>
	<key>iTunes12.9.3.3</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/041-31290-20190124-BBE902D6-D788-11E8-B555-8E91F34A5CAA/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/041-31291-20190124-BBE902D6-D788-11E8-B555-8E91F34A5CAA/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.9.3.3</string>
	</dict>
	<key>iTunes12.9.4.102</key>
	<dict>
		<key>32BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/041-44314-20190325-EF43BF3A-4E71-11E9-ACE6-794824A43337/iTunesSetup.exe</string>
		<key>64BitUrl</key>
		<string>https://secure-appldnld.apple.com/itunes12/041-44313-20190325-EF444F04-4E71-11E9-8702-7A4824A43337/iTunes64Setup.exe</string>
		<key>Version</key>
		<string>12.9.4.102</string>
	</dict>
</dict>
</plist>
