.DS_Store
*.bak
.DS_Store
Thumbs.db

# evitar zips pesados
*.zip
ibizagirl-deployable2-main.zip
.vercel
.env*.local
# evitar archivos gigantes
ibizagirl-deployable2-main.zip
*.zip
.vercel/
.vercel/
.vercel/
.vercel/
